/data
/arcgis
/Method 3/data
Method 3/data2/data_balloons.npy
Method 3/data2/data_mite.npy
Method 3/data2/data_evoloops.npy
Method 3/mould3_5gray/08_01_20_22_51_02/config.json
Method 8/Ballons/data/*.npy
Method 8/Brain/data/*.npy
Method 8/Byl/data/*.npy
Method 8/Evoloops/data/*.npy
Method 8/Mite/data/*.npy